.promo-images-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.parent-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 0.75fr repeat(2, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	max-width: 1180px;
}

.grid-two-fields {
	grid-area: 1 / 1 / 2 / 3;
}
.grid-one-field-1 {
	grid-area: 2 / 1 / 3 / 2;
}
.grid-one-field-2 {
	grid-area: 2 / 2 / 3 / 3;
}
.grid-one-field-3 {
	grid-area: 3 / 1 / 4 / 2;
}
.grid-one-field-4 {
	grid-area: 3 / 2 / 4 / 3;
}

.promo-grid-img {
	transition: transform 0.2s ease-in-out;
}

.promo-grid-img:hover {
	transform: scale(1.1);
}
.grid-field {
	overflow: hidden;
}
