.main-product-container {
	height: 375px;
	width: 250px;
	display: flex;
	flex-direction: column;
	background-color: #ececec;
	font-family: Arial, Helvetica, sans-serif;
}

.product-image {
	height: 100%;
	width: 100%;
}

.product-image-padding {
	padding: 6px;
}

.product-description-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 6px;
	font-size: 14px;
}

.product-brand {
	margin-top: -6px;
}

.product-name {
	flex: 6;
	margin-top: 3px;
}

.product-price-and-colors {
	display: flex;
	flex-direction: row;
}

.product-color-container {
	flex: 10;
}

.product-price-container {
	flex: 7;
}

.product-price {
	font-family: monospace !important;
	float: right;
}

.product-colors-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.product-color {
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-right: 3px;
	border: 1px solid black;
}

.color-red {
	background-color: rgb(160, 4, 4);
}

.color-black {
	background-color: black;
}

.color-white {
	background-color: white;
}

.color-sand {
	background-color: lightcoral;
}
