.product-page-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

.product-name-large {
	padding: 0;
	margin: 0;
	font-size: 36px;
	z-index: 5;
	position: relative;
}

.product-page-image-large {
	/* I moved the image 2rem to the top because there was loads of whitespace, this might cut out some images potentially */
	position: relative;
	bottom: 2rem;
	z-index: 1;
}

.product-image-large {
	max-height: 600px;
	width: auto;
}

.product-full-description {
	width: 75%;
	height: 800px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.product-description-large-container {
	flex: 1;
	font-size: 16px;
	/* This is here to create a gap between the description and the purchase panel, should find a better solution in the future */
	margin-right: 1rem;
}

.product-purchase-panel {
	/* This is here to create a gap between the description and the purchase panel, should find a better solution in the future */
	margin-left: 1rem;
	flex: 1;
}

.description-paragraph {
	padding-top: 0;
	margin-top: 0;
}

.product-brand-and-price {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 32px;
}

.product-price-large-container {
	font-family: monospace;
}

.avaliable-sizes-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 14px;
	grid-row-gap: 14px;
}

.product-size {
	font-size: 20px;
	background-color: #ececec;
	text-align: center;
	padding: 4px 0px;
	cursor: pointer;
	border: 1px solid black;
}

.product-size:hover {
	background-color: #dfdfdf;
}

.size-standards-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 14px;
	grid-row-gap: 14px;
}

.size-header-text {
	font-size: 24px;
	padding: 0;
	margin: 0;
}

.small-margin-top {
	margin-top: 3rem;
}

.add-to-cart-button {
	width: 100%;
	padding: 14px;
	text-transform: uppercase;
	font-size: 16px;
	max-width: 30rem;
	font-weight: bold;
	background-color: #f4e802;
	outline: none;
	border: 1px solid black !important;
	cursor: pointer;
	transition: box-shadow 0.2s ease-in-out;
}

.add-to-cart-button:hover {
	box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12),
		0 5px 6px -3px rgba(0, 0, 0, 0.2);
}
