.product-page-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

.product-name-large {
	padding: 0;
	margin: 0;
	font-size: 36px;
	z-index: 5;
	position: relative;
}

.product-page-image-large {
	/* I moved the image 2rem to the top because there was loads of whitespace, this might cut out some images potentially */
	position: relative;
	bottom: 2rem;
	z-index: 1;
}

.product-image-large {
	max-height: 600px;
	width: auto;
}

.product-full-description {
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.product-description-container {
	flex: 1;
	font-size: 16px;
}

.product-purchase-panel {
	flex: 1;
}

.description-paragraph {
	padding-top: 0;
	margin-top: 0;
}
