.shop-header {
	display: flex;
	flex-direction: row;
	margin: 2rem 0;
	justify-content: center;
}

.header-link-container {
	text-transform: capitalize;
}

.header-link {
	text-decoration: none;
	margin: 0 2rem;
	text-transform: uppercase;
	font-size: 14px;
	font-family: monospace;
	color: #888;
	position: relative;
}

.header-link:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #888;
	height: 2px;
	width: 100%;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out;
}

.header-link:hover:before {
	transform: scaleX(1);
	visibility: visible;
}

.header-sale-text {
	color: #e10000 !important;
}

.header-sale-text:before {
	background-color: #e10000 !important;
}
